.body{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0,0,0,0.1);
}
.wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red */
}

@media screen and (max-width:360px){
    .body{
        height:150px;
    }
}
@media screen and (max-width:320px){
    .body{
        height:140px;
    }
}
@media screen and (max-width:320px){
.wrapper{
    margin-top:5px;
}
}